#game {
    
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#home {
    
    width: 400px;
    height: 350px;
    border: 2px solid #39FF14;
    background-color: black;
}

button {
    
    background-color: black;
    color: #39FF14;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 150px;
    margin-top: 10px;
    font-family: 'Kalam', cursive;
}

button:hover {
    
    background-color: #39FF14;
    color: white;
}

button:disabled {
      
    background-color: white;
    color: white;
}

p {
   
    font-family: 'Kalam', cursive;
    margin-left: 100px;
    margin-bottom: -5px;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px #39FF14;
}